<app-header></app-header>
<div *ngIf="commonService.isApprover" class="my-5">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>UserID</th>
                <th>Origin</th>
                <th>Destination</th>
                <th>StartDate</th>
                <th>EndDate</th>
                <th>Email</th>
                <th>Purpose</th>
                <th>Status</th>
                
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let req of travelRequestData">
                <td>{{ req.userID }}</td>
                <td>{{ req.origin }}</td>
                <td>{{ req.destination }}</td>
                <td>{{ req.startDate }}</td>
                <td>{{ req.endDate }}</td>
                <td>{{ req.email }}</td>
                <td>{{ req.purpose }}</td>
                <td>{{ req.status }}</td>
                <td>
                    <button class="btn btn-success" (click)="Approve(req)">Approve</button>
                </td>
                <td>
                    <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">Reject</button>
                </td>
            </tr>
        </tbody>
    </table>

          <!-- Modal -->
          <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" #exampleModal>
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="exampleModalLabel">Reject Reason</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                        <textarea [(ngModel)]="RejectComments" placeholder="Enter your message">
            
                        </textarea>
                  
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" >Close</button>
                  <button type="button" class="btn btn-primary" (click)="Reject()">Save changes</button>
                </div>
              </div>
            </div>
          </div>


</div>